:root {
  --color-cafe-principal: #3B2F2F;
  --color-blanco-fondo: #F5F0E0;
  --color-cafe-claro: #6D5C5C;
  --color-blanco: #fff;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: var(--color-blanco-fondo);
}

/* CONTENEDOR */
#loginContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e2d1c3, #c2a28f);
}

/* TARJETA */
.login-card {
  width: 380px;
  min-height: 500px;
  background: var(--color-blanco);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,.25);
}

/* HEADER CAFÉ */
.card-header {
  position: relative;
  height: 140px;
  background: var(--color-cafe-principal);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* CANVAS */
#bolaCanvas {
  position: absolute;
  inset: 0;
  z-index: 0;
}

/* LOGO */
.card-header img {
  position: relative;
  z-index: 1;
}

/* BODY */
.card-body {
  padding: 35px;
}

.card-body input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.card-body button {
  width: 100%;
  padding: 12px;
  background: var(--color-cafe-principal);
  color: white;
  border: none;
  border-radius: 8px;
}

/* PASSWORD */
.password-wrapper {
  position: relative;
}

#togglePassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* LINK */
.forgot-password {
  display: block;
  text-align: right;
  margin-bottom: 15px;
  color: var(--color-cafe-principal);
}
