<form method="post" action="{{ action_url }}" enctype="multipart/form-data" class="producto-form">
  {% csrf_token %}



  <div class="row g-4 mt-1">

    <!-- IZQUIERDA -->
    <div class="col-lg-6">
      <div class="soft-card">
        <div class="soft-card-title">
          <span class="badge-section">1</span> Información del producto
        </div>

        <div class="row g-3 mt-2">
          <div class="col-12">
            <label class="form-label">Marca</label>
            {{ form.marca }}
          </div>

          <div class="col-12">
            <label class="form-label">Nombre del producto</label>
            {{ form.nombre }}
          </div>

          <div class="col-md-6">
            <label class="form-label">Precio</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              {{ form.precio }}
            </div>
          </div>

          <div class="col-12">
            <label class="form-label">Descripción</label>
            {{ form.descripcion }}
          </div>
        </div>
      </div>
    </div>

    <!-- DERECHA -->
    <div class="col-lg-6">
      <div class="soft-card">
        <div class="soft-card-title">
          <span class="badge-section">2</span> Clasificación
        </div>

        <div class="row g-3 mt-2">
          <div class="col-md-6">
            <label class="form-label">Línea</label>
            {{ form.linea }}
          </div>

          <div class="col-md-6">
            <label class="form-label">Presentación</label>
            {{ form.presentacion }}
          </div>

          <div class="col-md-6">
            <label class="form-label">Unidad de medida</label>
            {{ form.unidad_medida }}
          </div>
            <div class="col-md-6">
              <label class="form-label d-block">Activo</label>
              <div class="switch-wrap">
                {{ form.activo }}
                <span class="switch-label left">Inactivo</span>
                <span class="switch-label right">Activo</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="mt-4 d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-light border px-4" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-primary px-4">{{ submit_label }}</button>
  </div>
</form>