{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{% static 'productos/css/public.css/lista_producto_publica.css' %}">
</head>
<body>

    <header class="site-header">
        <div class="container">
            <h1 class="logo">Mi Tienda</h1>

            <form method="GET" class="search-bar">
                <input type="text" name="buscar" placeholder="Buscar productos..." value="{{ buscar }}">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </header>

    <section class="products-section">
        <div class="container">
            <h2 class="section-title">Nuestros Productos</h2>

            {% if productos %}
            <div class="products-grid">

                {% for producto in productos %}
                <div class="product-card">
                    {% if producto.imagen %}
                    <div class="product-image">
                        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                    </div>
                    {% endif %}

                    <div class="product-details">
                        <h3 class="product-name">{{ producto.nombre }}</h3>
                        <p class="product-desc">{{ producto.descripcion|truncatechars:90 }}</p>
                        <div class="product-meta">
                            <span class="price">$ {{ producto.precio }}</span>
                            <a href="{% url 'productos:detalle_producto_publico' producto.codigo %}" class="btn-view">Ver Detalle</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            {% else %}
                <p class="no-products">No hay productos disponibles</p>
            {% endif %}

        </div>
    </section>
    <a href="{% url 'core:index' %}" class="btn-view">Volver al Inicio</a>
</body>
</html>
