{% extends "core/panel_admin_base.html" %}
{% load static %}

{% block title %}Nueva venta{% endblock %}

{% block content %}
<div class="container-fluid px-4 py-4">

    <div class="mb-4">
        <h3>Nueva venta</h3>
        <small class="text-muted">Registrar una nueva venta</small>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}

                <div class="row g-3">

                    <!-- CLIENTE -->
                    <div class="col-md-6">
                        <label class="form-label">Cliente</label>
                        {{ form.cliente }}
                    </div>

                   <label class="form-label">Tipo</label>

                   
                    <!-- Producto-->
                    <div class="d-flex gap-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tipo_item" id="tipo_producto" value="producto">
                            <label class="form-check-label">Producto</label>
                        </div>

                        <!-- SERVICIO -->
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tipo_item" id="tipo_servicio" value="servicio">
                            <label class="form-check-label">Servicio</label>
                        </div>
                    </div>

                    <!-- STOCK INFO -->
                    <div class="col-12">
                        <small id="stockInfo" class="text-muted d-none"></small>
                    </div>


                    <!-- CANTIDAD -->
                    <div class="col-md-4">
                        <label class="form-label">Cantidad</label>
                        {{ form.cantidad }}
                        <small id="cantidadError" class="text-danger d-none">
                            No hay suficientes unidades en stock
                        </small>
                    </div>

                     <!-- BOTÓN AGREGAR ITEM -->
                    <div class="col-12">
                        <button
                            type="button"
                            id="btnAgregarItem"
                            class="btn btn-outline-primary btn-sm mt-2"
                            disabled
                        >
                            ➕ Agregar producto / servicio
                        </button>
                    </div>


                    <!-- PRECIO UNITARIO -->
                    <div class="col-md-4">
                        <label class="form-label">Precio unitario</label>
                        {{ form.precio_unitario }}
                    </div>

                    <!-- SUBTOTAL -->
                    <div class="col-md-4">
                        <label class="form-label">Subtotal</label>
                        <input
                            type="number"
                            id="id_subtotal"
                            class="form-control"
                            readonly
                            tabindex="-1"
                        >
                    </div>

                </div>

                <hr>

                <h6>Detalle de la venta</h6>

                <table class="table table-sm table-bordered" id="tablaItems">
                    <thead class="table-light">
                        <tr>
                            <th>Producto / Servicio</th>
                            <th class="text-end">Precio</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-end">Subtotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <input type="hidden" name="items" id="itemsInput">

                <div class="text-end fw-bold">
                    Total: $<span id="totalVenta">0.00</span>
                </div>


                <div class="d-flex justify-content-end gap-2 mt-4">
                    <a href="{% url 'ventas:lista' %}" class="btn btn-outline-secondary">
                        Cancelar
                    </a>
                    <button
                        id="btnGuardarVenta"
                        type="submit"
                        class="btn btn-dark"
                        disabled
                    >
                        Guardar venta
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'ventas/css/ventas.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'ventas/js/ventas.js' %}"></script>
{% endblock %}
