<form method="post" action="{% url 'inventario:editar_inventario' movimiento.id %}">
    {% csrf_token %}

    <div class="row g-3 mb-3">
        <div class="col-md-6">
            <label class="form-label">Proveedor</label>
            <select name="proveedor" class="form-select" required>
                {% for p in proveedores %}
                    <option value="{{ p.id }}"
                        {% if p == movimiento.proveedor %}selected{% endif %}>
                        {{ p.nombre_proveedor }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-6">
            <label class="form-label">Fecha</label>
            <input type="date" name="fecha" class="form-control"
                   value="{{ movimiento.fecha|date:'Y-m-d' }}">
        </div>
    </div>

    <h6>Productos recibidos</h6>

    {% for d in detalles %}
    <div class="row g-3 mb-2">
        <div class="col-md-6">
            <select name="producto[]" class="form-select">
                {% for prod in productos %}
                    <option value="{{ prod.codigo }}"
                        {% if prod == d.producto %}selected{% endif %}>
                        {{ prod.nombre }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-3">
            <input type="number" name="cantidad[]" class="form-control"
                   value="{{ d.cantidad }}">
        </div>
    </div>
    {% endfor %}

    <h6 class="mt-3">Datos del repartidor</h6>

    <div class="row g-3">
        <div class="col-md-3">
            <input name="nombre_repartidor" class="form-control"
                   value="{{ movimiento.nombre_repartidor }}">
        </div>
        <div class="col-md-3">
            <input name="apellido_repartidor" class="form-control"
                   value="{{ movimiento.apellido_repartidor }}">
        </div>
        <div class="col-md-3">
            <input name="cedula_repartidor" class="form-control"
                   value="{{ movimiento.cedula_repartidor }}">
        </div>
        <div class="col-md-3">
            <input name="telefono_repartidor" class="form-control"
                   value="{{ movimiento.telefono_repartidor }}">
        </div>
    </div>

    <h6 class="mt-3">Vehículo</h6>

    <div class="row g-3 mb-4">
        <div class="col-md-6">
            <input name="placa_vehiculo" class="form-control"
                   value="{{ movimiento.placa_vehiculo }}">
        </div>
        <div class="col-md-6">
            <input name="tipo_vehiculo" class="form-control"
                   value="{{ movimiento.tipo_vehiculo }}">
        </div>
    </div>

    <div class="text-end">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-dark">Guardar cambios</button>
    </div>
</form>
