/* CONTENEDOR GENERAL */
.caja-container {
    padding: 11px;
}

/* TITULO */
.caja-container h1 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
}

/* BOTONES */
.btn-outline-primary,
.btn-outline-danger,
.btn-outline-info {
    border-radius: 3px;
}

/* MODALES */
.modal-content {
    border-radius: 3px;
}

/* FORMULARIOS */
.modal-content input,
.modal-content select {
    border-radius: 3px;
    padding: 3px;
    font-size: 12px;
}

/* SECCIONES */
.modal-content h60px;
    font-weight: 600;
    font-size: 12px;
    font-weight: 600;
}

/* STOCK */
.table-bordered {
    background: white;
}

/* TOTAL */0.73
strong {
    font-size: 1.1rem;
}




