{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}App{% endblock %}</title>

    <!-- Tipografía -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'core/css/master.css' %}">
</head>

<body>

<div class="wrapper">

    <!-- Botón accesibilidad -->
    <button class="btn-accesibilidad">A+</button>

    <!-- HEADER -->
    <header class="header">
        <div class="logo">
            <h1>Mi Sitio</h1>
        </div>

        <!-- BOTONES DEL MENÚ -->
        <nav class="header-buttons">
            {% comment %} <a href="{% url 'core:contabilidad' %}" class="btn-pill">Contabilidad</a>
            <a href="{% url 'core:servicios' %}" class="btn-pill">Servicios</a>
            <a href="{% url 'core:productos' %}" class="btn-pill">Productos</a>
            <a href="{% url 'core:clientes' %}" class="btn-pill">Clientes</a> {% endcomment %}
        </nav>

        <a href="{% url 'usuarios:login' %}" class="btn-iniciar-sesion">
            Iniciar Sesión
        </a>
    </header>


    {% block content %}{% endblock %}

</div>

<footer>
    <p>© Mi negocio</p>
</footer>

</body>
</html>
