{% extends "core/panel_admin_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'proveedor/css/proveedor.css' %}">
<link rel="stylesheet" href="{% static 'proveedor/css/crear_proveedor.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'proveedor/js/crear_proveedor.js' %}"></script>



{% endblock %}

{% block title %}Nuevo proveedor{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="form-error">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    <!-- CARD 1 -->
     <div class="container-fluid proveedor-from">
        <form method="post">
            {% csrf_token %}
            <div class="proveedor-card">
                <h5 class="card-title">Información general</h5>

                <div class="form-grid">
            <div>
                <label>NIT</label>
                {{ form.nit }}
                {% if form.nit.errors %}
                    <div class="form-error">{{ form.nit.errors.0 }}</div>
                {% endif %}
            </div>

            <div>
                <label>ID Venta</label>
                {{ form.id_venta }}
                {% if form.id_venta.errors %}
                    <div class="form-error">{{ form.id_venta.errors.0 }}</div>
                {% endif %}
            </div>

            <div>
                <label>Código marca</label>
                {{ form.codigo_marca }}
                {% if form.codigo_marca.errors %}
                    <div class="form-error">{{ form.codigo_marca.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="full">
                <label>Nombre proveedor</label>
                {{ form.nombre_proveedor }}
                {% if form.nombre_proveedor.errors %}
                    <div class="form-error">{{ form.nombre_proveedor.errors.0 }}</div>
                {% endif %}
            </div>

            <div>
                <label>Fecha entrega</label>
                {{ form.fecha_entrega }}
                {% if form.fecha_entrega.errors %}
                    <div class="form-error">{{ form.fecha_entrega.errors.0 }}</div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- CARD RESPONSABLE -->
    <div class="proveedor-card">
        <h5 class="card-title">Responsable</h5>

        <div class="form-grid">
            <div>
                <label>Cédula encargado</label>
                {{ form.cc_encargado }}
                {% if form.cc_encargado.errors %}
                    <div class="form-error">{{ form.cc_encargado.errors.0 }}</div>
                {% endif %}
            </div>

            <div>
                <label>Nombre encargado</label>
                {{ form.nombre_encargado }}
                {% if form.nombre_encargado.errors %}
                    <div class="form-error">{{ form.nombre_encargado.errors.0 }}</div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- CARD VEHÍCULO -->
    <div class="proveedor-card">
        <h5 class="card-title">Vehículo y contacto</h5>

        <div class="form-grid">
            <div>
                <label>Tipo vehículo</label>
                {{ form.tipo_vehiculo }}
                {% if form.tipo_vehiculo.errors %}
                    <div class="form-error">{{ form.tipo_vehiculo.errors.0 }}</div>
                {% endif %}
            </div>

            <div>
                <label>Placa</label>
                {{ form.placa_vehiculo }}
                {% if form.placa_vehiculo.errors %}
                    <div class="form-error">{{ form.placa_vehiculo.errors.0 }}</div>
                {% endif %}
            </div>

            <div>
                <label>Estado</label>
                {{ form.estado }}
                {% if form.estado.errors %}
                    <div class="form-error">{{ form.estado.errors.0 }}</div>
                {% endif %}
            </div>

            <div>
                <label>Teléfono</label>
                {{ form.telefono_proveedor }}
                {% if form.telefono_proveedor.errors %}
                    <div class="form-error">{{ form.telefono_proveedor.errors.0 }}</div>
                {% endif %}
            </div>

            <div>
                <label>Correo</label>
                {{ form.correo_proveedor }}
                {% if form.correo_proveedor.errors %}
                    <div class="form-error">{{ form.correo_proveedor.errors.0 }}</div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- BOTONES -->
    <div class="proveedor-actions">
        <a href="{% url 'proveedores:lista_proveedor' %}" class="btn-cancelar">
            Cancelar
        </a>
        <button type="submit" class="btn-guardar">
            Guardar proveedor
        </button>
    </div>

</form>
</div>
</div>
{% endblock %}