{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Verificar código | MONA KERATINA</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'usuarios/css/auth-forms.css' %}">
</head>

<body>

<div class="split">

    <div class="left">
        <img src="{% static 'logo1..png' %}">
        <h3 style="margin-top:30px; font-size: 24px;">MONA KERATINA</h3>
        <p>Verificación segura</p>
    </div>

    <div class="right">
        <div class="box">
            <h1>MONA KERATINA</h1>
            <h2>Verificar código</h2>
            <p>Ingresa el código enviado a tu correo.</p>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <input type="text" name="codigo" placeholder="Código de 6 dígitos" required>
                <button>Verificar</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>
